<html>

<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="top-bar">

    </div>

    <div class="menu">
        <div class="menu-logo">
            Pantry <br>
            Pal
        </div>

        <div>
            <div class="menu-option">
                <a href="/ingredients">Ingredients</a>
            </div>
            <div class="menu-option">
                <a href="/recipes">Recipes</a>
            </div>
            <div class="menu-option">
                <a href="/shoppinglist">Shopping List</a>
            </div>
            <div class="menu-option">Settings</div>
        </div>
    </div>  

    <div class="table-container">
        <table class="ingredients">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Expiration Date</th>
            </tr>
            {% for item in data %}
            <tr>
                <td> {{item.ingredient.name}} </td>
                <td> {{item.quantity}} {{item.unit}} </td>
                <td> {{item.expiration_date}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>