<html>

<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="menu">
        <div class="menu-logo">
            Pantry <br>
            Pal
        </div>

        <div>
            <div class="menu-option">
                <a href="/ingredients">Ingredients</a>
            </div>
            <div class="menu-option">
                <a href="/recipes">Recipes</a>
            </div>
            <div class="menu-option">
                <a href="/shoppinglist">Shopping List</a>
            </div>
            <div class="menu-option">Settings</div>
        </div>

        
    </div>    
</body>

</html>